@import "colors";
@import "breakpoint";
@import "offsets";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: $zero;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: $light;
}

header {
    .logo-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: $default-offset;
        gap: $default-offset;

        .logo {
            max-width: 50px;

            @media (min-width: $screen-xs) {
                max-width: 75px;
            }

            @media (min-width: $screen-md) {
                max-width: 100px;
            }
        }

        .title {
            color: $primary;
            margin: $zero;
            font-weight: 700;
            font-size: 2rem;
            text-wrap: balance;

            @media (min-width: $screen-md) {
                font-size: 3rem;
            }
        }
    }

    .contacts {
        background-color: $secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $default-offset;
        flex-direction: column;
        gap: $default-offset;

        @media (min-width: $screen-sm) {
            flex-direction: row;
            gap: $default-offset*3;
        }

        .tel {
            font-weight: 700;
            margin: $zero;
            font-size: 1.5rem;

            @media (min-width: $screen-xs) {
                font-size: 2rem;
            }

            @media (min-width: $screen-sm) {
                font-size: 3rem;
            }

            @media (min-width: $screen-md) {
                font-size: 4rem;
            }
        }

        .social-links-container {
            display: flex;
            gap: $default-offset;

            .social-link {
                .icon {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}

main {
    flex-grow: 1;

    .hero-section {
        padding: $default-offset;
        background-image: url("./img/man.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        height: 300px;

        @media (min-width: $screen-md) {
            height: 400px;
        }

        @media (min-width: $screen-lg) {
            height: 600px;
        }
    }

    .motto {
        text-align: center;
        text-shadow:
            3px 3px 6px $dark,
            0 0 16px $primary,
            0 0 3px $primary;
        color: $light;
        font-size: 1rem;
        max-width: 200px;

        @media (min-width: $screen-sm) {
            font-size: 1.5rem;
            max-width: 400px;

        }

        @media (min-width: $screen-md) {
            font-size: 2rem;
            max-width: 450px;
        }

        @media (min-width: $screen-lg) {
            font-size: 2.5rem;
                    
        }
    }

    .main-title {
        color: $primary;
        text-align: center;
        text-wrap: balance;
        text-transform: uppercase;
        margin-bottom: $default-offset;
        font-size: 1rem;

        @media (min-width: $screen-xs) {
            font-size: 2rem;
        }
    }

    .cards-container {
        display: flex;
        flex-direction: column;

        @media (min-width: $screen-xs) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $default-offset;
        gap: $default-offset;
        background-color: $light;
        color: $dark;

        @media (min-width: $screen-xs) {
            width: 50%;
        }

        @media (min-width: $screen-md) {
            width: 33.3333333%;
        }

        &:nth-of-type(odd) {
            background-color: $secondary-light;
            color: $light;

            @media (min-width: $screen-xs) {
                background-color: $light;
                color: $dark;
            }

            @media (min-width: $screen-md) {
                background-color: $secondary-light;
                color: $light;
            }
        }

        &:nth-of-type(1),
        &:nth-of-type(4),
        &:nth-of-type(5) {
            @media (min-width: $screen-xs) and (max-width: ($screen-md - 1)) {
                background-color: $secondary-light;
                color: $light;
            }
        }

        .icon {
            width: 50px;
            height: 50px;
        }

        .title {
            text-align: center;
            font-weight: 400;
            margin: $zero;
            font-size: 0.8rem;

            @media (min-width: $screen-xs) {
                font-size: 1rem;
            }
        }
    }
}

footer {
    background-color: $primary-light;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $default-offset;
    gap: $default-offset;

    .contacts {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: $default-offset;
    }

    .logo {
        max-width: 50px;

        @media (min-width: $screen-xs) {
            max-width: 75px;
        }

        @media (min-width: $screen-md) {
            max-width: 100px;
        }
    }

    .tel {
        font-weight: 700;
        font-size: 1.5rem;

        @media (min-width: $screen-xs) {
            font-size: 1.5rem;
        }

        @media (min-width: $screen-md) {
            font-size: 2rem;
        }
    }

    .title {
        font-weight: 700;
        color: $light;
        font-size: 1.5rem;

        @media (min-width: $screen-xs) {
            font-size: 1.5rem;
        }

        @media (min-width: $screen-md) {
            font-size: 2rem;
        }

    }
}