* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #FFF;
}

header .logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
}
header .logo-container .logo {
  max-width: 50px;
}
@media (min-width: 480px) {
  header .logo-container .logo {
    max-width: 75px;
  }
}
@media (min-width: 992px) {
  header .logo-container .logo {
    max-width: 100px;
  }
}
header .logo-container .title {
  color: #2196F3;
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
  text-wrap: balance;
}
@media (min-width: 992px) {
  header .logo-container .title {
    font-size: 3rem;
  }
}
header .contacts {
  background-color: #EC9706;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  header .contacts {
    flex-direction: row;
    gap: 48px;
  }
}
header .contacts .tel {
  font-weight: 700;
  margin: 0;
  font-size: 1.5rem;
}
@media (min-width: 480px) {
  header .contacts .tel {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  header .contacts .tel {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  header .contacts .tel {
    font-size: 4rem;
  }
}
header .contacts .social-links-container {
  display: flex;
  gap: 16px;
}
header .contacts .social-links-container .social-link .icon {
  width: 50px;
  height: 50px;
}

main {
  flex-grow: 1;
}
main .hero-section {
  background-image: url("./img/man.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 16px;
  height: 300px;
}
@media (min-width: 992px) {
  main .hero-section {
    padding: 32px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  main .hero-section {
    padding: 48px;
    height: 600px;
  }
}
main .motto {
  text-shadow: 3px 3px 6px #000, 0 0 16px #2196F3, 0 0 3px #2196F3;
  color: #FFF;
  font-size: 1rem;
}
@media (min-width: 480px) {
  main .motto {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  main .motto {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  main .motto {
    font-size: 2.5rem;
  }
}
main .cta-link {
  display: inline-flex;
  position: relative;
  color: #FFF;
  background-color: #0c7cd5;
  text-shadow: 0 1px #064475;
  border-width: 1px;
  border-style: solid;
  border-color: #0960a5 #08528d #08528d;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  font-weight: 700;
  font-size: 1rem;
  border-radius: 4px;
  padding: 10.6666666667px 16px;
}
@media (min-width: 480px) {
  main .cta-link {
    font-size: 1.25rem;
    border-radius: 6px;
  }
}
@media (min-width: 768px) {
  main .cta-link {
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 16px 32px;
  }
}
@media (min-width: 992px) {
  main .cta-link {
    font-size: 1.75rem;
  }
}
main .cta-link:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  background: transparent;
  -webkit-box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.5);
}
main .cta-link:hover, main .cta-link:active, main .cta-link:focus {
  outline: 0;
  color: #FFF;
}
main .cta-link:hover:before, main .cta-link:active:before, main .cta-link:focus:before {
  content: "";
  outline: 0;
}
main .cta-link:hover {
  background-color: #0571c7;
}
main .cta-link:active {
  text-shadow: 0 -1px #064475;
  border-color: #05365d #064475 #0960a5;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
}
main .cta-link:active:before {
  content: "";
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
}
main .cards-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 480px) {
  main .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
main .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 32px;
  background-color: #FFF;
  color: #000;
}
@media (min-width: 480px) {
  main .card {
    width: 50%;
  }
}
@media (min-width: 992px) {
  main .card {
    width: 33.3333333%;
  }
}
main .card .icon {
  width: 50px;
  height: 50px;
  fill: #000;
}
main .card:nth-of-type(odd) {
  background-color: #faad2b;
  color: #FFF;
}
main .card:nth-of-type(odd) .icon {
  fill: #FFF;
}
@media (min-width: 480px) {
  main .card:nth-of-type(odd) {
    background-color: #FFF;
    color: #000;
  }
  main .card:nth-of-type(odd) .icon {
    fill: #000;
  }
}
@media (min-width: 992px) {
  main .card:nth-of-type(odd) {
    background-color: #faad2b;
    color: #FFF;
  }
  main .card:nth-of-type(odd) .icon {
    fill: #FFF;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  main .card:nth-of-type(1), main .card:nth-of-type(4), main .card:nth-of-type(5) {
    background-color: #faad2b;
    color: #FFF;
  }
  main .card:nth-of-type(1) .icon, main .card:nth-of-type(4) .icon, main .card:nth-of-type(5) .icon {
    fill: #FFF;
  }
}
main .card .title {
  text-align: center;
  text-wrap: balance;
  margin: 0;
  font-size: 1rem;
}
@media (min-width: 480px) {
  main .card .title {
    font-size: 1.5rem;
  }
}

footer {
  background-color: #6ec6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
}
footer .contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}
footer .logo {
  filter: invert(39%) sepia(70%) saturate(4173%) hue-rotate(189deg) brightness(75%) contrast(90%);
  max-width: 50px;
}
@media (min-width: 480px) {
  footer .logo {
    max-width: 75px;
  }
}
@media (min-width: 992px) {
  footer .logo {
    max-width: 100px;
  }
}
footer .tel {
  font-weight: 700;
  font-size: 1.5rem;
}
@media (min-width: 480px) {
  footer .tel {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  footer .tel {
    font-size: 2rem;
  }
}
footer .title {
  font-weight: 700;
  color: #FFF;
  font-size: 1.5rem;
}
@media (min-width: 480px) {
  footer .title {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  footer .title {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
