@import "colors";
@import "breakpoint";
@import "offsets";
@import "mixins";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: $light;
}

header {
    .logo-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: $default-offset;
        gap: $default-offset;

        .logo {
            max-width: 50px;

            @media (min-width: $screen-xs) {
                max-width: 75px;
            }

            @media (min-width: $screen-md) {
                max-width: 100px;
            }
        }

        .title {
            color: $primary;
            margin: 0;
            font-weight: 700;
            font-size: 2rem;
            text-wrap: balance;

            @media (min-width: $screen-md) {
                font-size: 3rem;
            }
        }
    }

    .contacts {
        background-color: $secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $default-offset;
        flex-direction: column;
        gap: $default-offset;

        @media (min-width: $screen-sm) {
            flex-direction: row;
            gap: $default-offset * 3;
        }

        .tel {
            font-weight: 700;
            margin: 0;
            font-size: 1.5rem;

            @media (min-width: $screen-xs) {
                font-size: 2rem;
            }

            @media (min-width: $screen-sm) {
                font-size: 3rem;
            }

            @media (min-width: $screen-md) {
                font-size: 4rem;
            }
        }

        .social-links-container {
            display: flex;
            gap: $default-offset;

            .social-link {
                .icon {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}

main {
    flex-grow: 1;

    .hero-section {
        background-image: url("./img/man.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $default-offset * 2;
        padding: $default-offset;
        height: 300px;

        @media (min-width: $screen-md) {
            padding: $default-offset * 2;
            height: 400px;
        }

        @media (min-width: $screen-lg) {
            padding: $default-offset * 3;
            height: 600px;
        }
    }

    .motto {
        text-shadow:
            3px 3px 6px $dark,
            0 0 16px $primary,
            0 0 3px $primary;
        color: $light;
        font-size: 1rem;

        @media (min-width: $screen-xs) {
            font-size: 1.5rem;
        }

        @media (min-width: $screen-sm) {
            font-size: 2rem;
        }

        @media (min-width: $screen-md) {
            font-size: 2.5rem;
        }
    }

    .cta-link {
        display: inline-flex;
        position: relative;
        color: $light;
        background-color: $cta-link-color;
        text-shadow: 0 1px darken($cta-link-color, 20);
        border-width: 1px;
        border-style: solid;
        border-color: darken($cta-link-color, 10) darken($cta-link-color, 15) darken($cta-link-color, 15);
        background-image: linear-gradient(to bottom, rgba($light, 0.3), rgba($light, 0) 50%, rgba($dark, 0.12) 51%, rgba($dark, 0.04));
        font-weight: 700;
        font-size: 1rem;
        border-radius: 4px;
        padding: calc($default-offset / 1.5) $default-offset;

        @media (min-width: $screen-xs) {
            font-size: 1.25rem;
            border-radius: 6px;
        }

        @media (min-width: $screen-sm) {
            font-size: 1.5rem;
            border-radius: 8px;
            padding: $default-offset $default-offset * 2;
        }

        @media (min-width: $screen-md) {
            font-size: 1.75rem;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 4px;
            background: transparent;
            @include box-shadow(inset 0 0 7px rgba($light, 0.5));
        }

        &:hover, &:active, &:focus {
            outline: 0;
            color: $light;

            &:before {
                content: "";
                outline: 0;
            }
        }

        &:hover {
            background-color: darken(saturate($cta-link-color, 5), 4);
        }

        &:active {
            text-shadow: 0 -1px darken($cta-link-color, 20%);
            border-color: darken($cta-link-color, 25) darken($cta-link-color, 20) darken($cta-link-color, 10);
            @include box-shadow(inset 0 1px 3px rgba($dark, 0.2), 0 1px rgba($light, 0.4));

            &:before {
                content: "";
                @include box-shadow(inset 0 0 3px rgba($dark, 0.2), 0 1px rgba($light, 0.4));
            }
        }
    }

    .cards-container {
        display: flex;
        flex-direction: column;

        @media (min-width: $screen-xs) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $default-offset * 2;
        gap: $default-offset * 2;
        background-color: $light;
        color: $dark;

        @media (min-width: $screen-xs) {
            width: 50%;
        }

        @media (min-width: $screen-md) {
            width: 33.3333333%;
        }

        &:nth-of-type(odd) {
            background-color: $secondary-light;
            color: $light;

            @media (min-width: $screen-xs) {
                background-color: $light;
                color: $dark;
            }

            @media (min-width: $screen-md) {
                background-color: $secondary-light;
                color: $light;
            }
        }

        &:nth-of-type(1),
        &:nth-of-type(4),
        &:nth-of-type(5) {
            @media (min-width: $screen-xs) and (max-width: ($screen-md - 1)) {
                background-color: $secondary-light;
                color: $light;
            }
        }

        .icon {
            width: 50px;
            height: 50px;
        }

        .title {
            text-align: center;
            text-wrap: balance;
            margin: 0;
            font-size: 1rem;

            @media (min-width: $screen-xs) {
                font-size: 1.5rem;
            }
        }
    }
}

footer {
    background-color: $primary-light;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $default-offset;
    gap: $default-offset;

    .contacts {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: $default-offset;
    }

    .logo {
        max-width: 50px;

        @media (min-width: $screen-xs) {
            max-width: 75px;
        }

        @media (min-width: $screen-md) {
            max-width: 100px;
        }
    }

    .tel {
        font-weight: 700;
        font-size: 1.5rem;

        @media (min-width: $screen-xs) {
            font-size: 1.5rem;
        }

        @media (min-width: $screen-md) {
            font-size: 2rem;
        }
    }

    .title {
        font-weight: 700;
        color: $light;
        font-size: 1.5rem;

        @media (min-width: $screen-xs) {
            font-size: 1.5rem;
        }

        @media (min-width: $screen-md) {
            font-size: 2rem;
        }
    }
}